{% extends "layout.html" %} {% block title %} FuteINF {% endblock %}

{% block content %}

<div>
    <h1>Ranking DEBUG</h1>
    <p>Veja a classificação atual dos times:</p>

    <span class="badge badge-pill text-bg-primary">
        Gerado em {{ now }}
    </span>

    <span class="badge badge-pill text-bg-secondary">
        Votos desdes o último reset: {{ votes }}
    </span>

    <span class="badge badge-pill text-bg-secondary">
        Resetado em {{ last_reset }}
    </span>

    <span class="badge badge-pill text-bg-secondary">
        ID: {{ref_point_id}}
    </span>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Percentil</th>
                <th scope="col">Desvio Padrão</th>
                <th scope="col">Votos</th>
            </tr>
        </thead>
        <tbody>
            {% for player in ranking %}
            <tr>
                <th scope="row">{{ player.pos }}</th>
                <td>{{ player.nome }}</td>
                <td>{{ player.media | as_percent }}</td>
                <td>σ = {{ player.desvio_padrao | as_percent }}</td>
                <td>{{ player.votos }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/" class="btn btn-primary">Voltar</a>
</div>

{% endblock %}

