{% extends "layout.html" %} {% block title %} FuteINF {% endblock %} {% block content %}
<div 
  class="row"
  >
<h1>Fute do INF</h1>
</div>

{% if logged_in %}
              <img class="avatar avatar-64 bg-light rounded-circle text-white p-2"
                onerror="this.onerror=null;this.src='https://raw.githubusercontent.com/twbs/icons/main/icons/person-fill.svg'"
                src="/image/{{ user_id }}"
              >
<span>
  Olá {{ username }}!
  <button
    class="btn btn-primary"
    hx-post="/logout"
    >
    <i class="bi bi-door-open"></i>
    Sair
  </button>

  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#imageUploadModal"
    >
    Envie sua foto
  </button>
</span>
{% else %}
<div 
  class="row"
  >
  <div class="col-5">
    <a
      href="/login"
      class="btn btn-primary"
      >
      <i class="bi bi-plus"></i>
      Login
    </a>
  </div>
</div>
{% endif %}




{# <div 
  class="row"
  >
  <div class="col-5">
<a 
  href="https://fute.vini84200.cc/event/futebol"
  class="btn btn-primary"
  >
  <i class="bi bi-plus"></i>
  Entrar na lista!
</a>
  </div>
</div>
<div 
  class="row"
  >
  <div hx-get="/jogadores" hx-trigger="load,every 10s" hx-swap="innerHTML"></div>
</div> #}
{% if logged_in %}
<br>
<hr>
<div class="container">

<button
  hx-post="/voting/create"
  hx-trigger="click"
  hx-swap="innerHTML"
  hx-target="body"
  class="btn btn-primary"
  >
  <i class="bi bi-card-checklist"></i>
  Votar
</button>

<a
  href="/week_ranking/{{ last_week }}"
  class="btn btn-primary"
  >
  Ver Ranking da Semana Anterior
</a>
</div>
  {% endif %}

{# Modal para enviar cropar a imagem e enviar #}

<div class="modal fade" id="imageUploadModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Enviar Imagem
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id='form' hx-encoding='multipart/form-data' hx-post='/upload_image'>
        <input type='file' name='file' accept="image/*">
        <button>
            Upload
        </button>
        <progress id='progress' value='0' max='100'></progress>
    </form>
    <script>
        htmx.on('#form', 'htmx:xhr:progress', function(evt) {
          htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
        });
    </script>

      </div>
    </div>
  </div>
</div>

{% endblock %}

