{% extends "layout.html" %} {% block title %} FuteINF {% endblock %} {% block content %}
<div 
  class="row"
  >
<h1>Lista do Fute</h1>
</div>

{% if logged_in %}
<span>
  Hello {{ username }}!
  <button
    class="btn btn-primary"
    hx-post="/logout"
    >
    <i class="bi bi-plus"></i>
    Logout
  </button>
</span>
{% else %}
<div 
  class="row"
  >
  <div class="col-5">
<a
  href="/login"
  class="btn btn-primary"
  >
  <i class="bi bi-plus"></i>
  Login
</a>
  </div>
  {% endif %}


{# <div 
  class="row"
  >
  <div class="col-5">
<a 
  href="https://fute.vini84200.cc/event/futebol"
  class="btn btn-primary"
  >
  <i class="bi bi-plus"></i>
  Entrar na lista!
</a>
  </div>
</div>
<div 
  class="row"
  >
  <div hx-get="/jogadores" hx-trigger="load,every 10s" hx-swap="innerHTML"></div>
</div> #}
</div>
<br>
<hr>

<button
  hx-post="/voting/create"
  hx-trigger="click"
  hx-swap="innerHTML"
  hx-target="body"
  class="btn btn-primary"
  >
  <i class="bi bi-card-checklist"></i>
  Votar
</button>

<a
  href="/week_ranking/{{ last_week }}"
  class="btn btn-primary"
  >
  Ver Ranking da Semana Anterior
</a>
{% endblock %}

