{% extends "layout.html" %} {% block title %} FuteINF {% endblock %} {% block content %}
<div class="row">
  <h1>Votando </h1>

  <div id="voting">

    <div class="sortable-save" style="border: 1px black solid;" >
      
    </div>
    <div class="sortable-discard" style="border: 1px red solid;">
      {% for player in players %}
        <div class="player-sort" data-id="{{ player.id }}">
          <p>{{ player.nome }}</p>
        </div>
      {% endfor %}
    </div>
      <button 
      id="save"
      >Salvar</button>
  </div>

  <script>
    $(document).ready(function () {
      var discard = new Sortable(document.querySelector('.sortable-discard'), {
        group: 'shared',
        animation: 150,
        onEnd: function (evt) {
        },
        filter: '.filtered'
      });
      var save = new Sortable(document.querySelector('.sortable-save'), {
        group: 'shared',
        animation: 150,
        onEnd: function (evt) {
        },
        filter: '.filtered'
      });

      $('#save').click(function () {
        const players = save.toArray()
        $.ajax({
          url: '/voting/{{ballot_id}}/',
          type: 'POST',
          data: JSON.stringify({
            players: players
          }),
          contentType: "application/json; charset=utf-8",
          success: function (data) {
            console.log(data);
          }
        });
      });

    });
  </script>
</div>



{% endblock %}