{% extends "layout.html" %} {% block title %} FuteINF {% endblock %}

{% block content %}

<div class="alert alert-success d-flex align-items-center" role="alert">
    <div class="alert-icon">
        <i class="ni ni-like-2"></i>
    </div>
    <div>
        Votou com sucesso!
    </div>
</div>

<a href="/" class="btn btn-primary">Voltar</a>

<button
  hx-post="/voting/create"
  hx-trigger="click"
  hx-swap="innerHTML"
  hx-target="body"
  class="btn btn-primary"
  >
  <i class="bi bi-card-checklist"></i>
  Votar novamente
</button>

{% endblock %}

